@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
li {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: #353535;
    font-family: 'Noto Sans KR', 'Noto Serif', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

.header {

}

.header video {
    width: 50%;
    display: block;
    justify-content: center;
    margin: 100px auto;
    top: 500px;
}