@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
li {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: #353535;
    font-family: 'Noto Sans KR', 'Noto Serif', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

/* 대문 */
.myosubanner img {
    filter: brightness(50%);
}
.banner {
    position: relative;
    top: -600px;

}
.banner .text{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate( -50%, -50% );
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border: 2px solid white;
    padding: 15px 50px;
    font-size: 15px;
}
.banner a:hover {
    color: #333;
    background-color: white;
    border: 2px solid white;
}